.jumbotron {
    background-color: yellowgreen;
    color: whitesmoke;
}


footer {
    padding: 10px 10px 0 10px;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-ver {
    width:100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}