.jumbotron {
  background-color: #d14a159a;
  color: #e4ebdd;
  margin-top: 50px;
  margin-bottom: 0px; }

.breadcrumb {
  background-color: #585d6618;
  color: #e4ebdd;
  margin-top: 10px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #222420;
  color: #e4ebdd;
  margin-top: 10px;
  margin-bottom: 0px; }

.info-button {
  margin-top: 0px;
  margin-bottom: 10px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-ver {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
