$yellow: #d14a159a;
$black: #222420;
$white: #e4ebdd;
$grey: #585d6618;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: $white;
    @include margenes(50px, 0px)
}

.breadcrumb {
    background-color: $grey;
    color: $white;
    @include margenes(10px, 10px)
}


footer {
    padding: 10px 10px 0 10px;
    background-color: $black;
    color: $white;
    @include margenes(10px, 0px)
}

.info-button {
    @include margenes(0px, 10px)
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px)
}

.btn-ver {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}